[Desktop Entry]
Version=1.0
Type=Application
Name=Etkileşimli Kitap Dükkanı
Comment=Pardus Akıllı Tahta Etkileşimli Kitap Dükkanı
Exec=kitapmarkt
Icon=kitapmarkt
Terminal=false
Categories=Education;Network;
StartupNotify=true
