#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/raf --install-layout=deb
	
	# Install desktop entry
	mkdir -p $(CURDIR)/debian/raf/usr/share/applications
	cp data/raf.desktop $(CURDIR)/debian/raf/usr/share/applications/
	
	# Install application icon
	mkdir -p $(CURDIR)/debian/raf/usr/share/pixmaps
	cp src/assets/raf.png $(CURDIR)/debian/raf/usr/share/pixmaps/

	# Install database
	mkdir -p $(CURDIR)/debian/raf/usr/share/raf/database
	cp database/*.json $(CURDIR)/debian/raf/usr/share/raf/database/
