#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/etkilesimli-kitap-kutuphanesi --install-layout=deb
	
	# Install desktop entry
	mkdir -p $(CURDIR)/debian/etkilesimli-kitap-kutuphanesi/usr/share/applications
	cp etkilesimli-kitap-kutuphanesi.desktop $(CURDIR)/debian/etkilesimli-kitap-kutuphanesi/usr/share/applications/
	
	# Install application icon
	mkdir -p $(CURDIR)/debian/etkilesimli-kitap-kutuphanesi/usr/share/pixmaps
	cp src/assets/etkilesimli-kitap-kutuphanesi.png $(CURDIR)/debian/etkilesimli-kitap-kutuphanesi/usr/share/pixmaps/
