[Desktop Entry]
Version=1.0
Type=Application
Name=Raf
Comment=Pardus Akıllı Tahta İnteraktif Kitap Rafı
Exec=raf %F
Icon=raf
Terminal=false
Categories=Education;Network;
StartupNotify=true
MimeType=application/vnd.debian.binary-package;application/zip;application/x-executable;
